.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #101010;
  border-radius: 10px;
  padding: 10px;
}

.login-box {
  background-color: #1a1b1b;
  border-radius: 16px;
  padding: 8px;
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
}

.line {
  flex: 1;
  height: 2px;
  background-color: #303130;
}

.or-text {
  margin: 10px 10px;
  color: #494948;
  font-size: 12px;
  font-weight: 600;
}

.border {
  border-radius: 20px;
}
